.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-decoration: none;
    font-size: 80px;
    width: 334px;
    height: 79px;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 40px;
    margin-top: 63px;
}

.menu{
    height: 69px;
    display: flex;
    justify-content: center;
    background-color: #35444F;
    align-items: center;
    color: white;
    margin-bottom: 49px;
}

.menu-info{
    border: 1px solid white;
    padding: 26px 35px;
    
}

:hover.color-info {
    background-color: #222F3A;
}

.side-menu{
    width: 344px;
    height: 399px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 44px;
    color:#485863;
    justify-content: space-between;
    font-size: 27px;
    margin-right: 52px;
}

:hover.side-menu-hover{
    background-color:#DBDBDB;
    text-align: center;
    color: black;
}

main{
    display: flex;
}

.content{
    width: 884px;
    height: auto;
    margin-bottom: 54px;

}

.image{
    padding: 75px 280px;
    border: 1px solid black;
    margin-bottom: 37px;
    overflow: hidden;
    transition: 1s;
}

:hover.image{
    transform: scale(1.2);
}

.information{
    font-size: 18px;
    color: #2C2C2C;
}

footer{
    background-color: #63696E7A;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.bottom-menu{
    display: flex;
    justify-content: space-between;
    width: 875px;
    color: #0C1927;
    font-size: 28px;
}

.bottom-copy{
    font-size: 23px;
    color: black;
}

:hover.bottom-menu-hover{
    color: #3181A6;
    border-bottom: 1px solid;
}




